<h1> Issues </h1>

<ul>

		<% @issues.each do |i| %>
			<li>
				Title:<%= i.title %>
			</li>	
				<ul>		
					<li>
						Description: <%= i.desc %>
					</li>
					<li>
						<%=link_to "delete", issue_path(:id => i.id), method:'delete' %>
					</li>
					<li>
						Votes: <%= i.votes %>
						<%= link_to "UP VOTE", upvote_issue_path(:id => i.id), method:'post' %>
						<%= link_to "DOWN VOTE", downvote_issue_path(:id => i.id), method:'post' %>
					</li>
					<li>
						<%=link_to "edit", edit_issue_path(:id => i.id)%>
					</li>
					<li>
						ID <%=i.id %>
					</li>	
					<li>
						Funding Goal:<%= i.funding_goal %>
					</li>	
					<li>
						Pleged Total: <%= i.pledged_total %>
					</li>	
					<li>
						Number of Backers: <%= i.num_backers %>
					</li>	
					<li>
						Funding Date: <%= i.funding_date %>
					</li>
				</ul>	
		<% end %>

		<%= link_to "New Issue", new_issue_path%>


<ul>