<h1> Issues </h1>

<ul data-no-turbolink>

		<% @issues.each do |i| %>
			<li>
				Title:<%= i.title %>
			</li>	
				<ul>		
					<li>
						Description: <%= i.desc %>
					</li>
					
					
					<li>
						<div class='vote'>Votes: <span id='vote<%=i.id%>'><%= i.votes %></span></div>
						<a href='#' onclick="vote(<%= i.id %>, 1);" class="glyphicon glyphicon-thumbs-up"></a>
						<a href='#' onclick="vote(<%= i.id %>, -1);" class="glyphicon glyphicon-thumbs-down"></a>
					</li>	
					<li>
						Funding Goal: <%= number_to_currency(i.funding_goal, precision: 0) %>
					</li>	
					<li>
						Pledged Total: <%= number_to_currency(i.pledged_total, precision: 0) %>
					</li>	
					<li>
						Number of Backers: <%= i.num_backers %>
					</li>	
					<li>
						Funding Date: <%= i.funding_date.to_formatted_s(:long_ordinal) %>
					</li>
					<li>
						Organization: <% i.organizations.each do |o| %>
							<%= o.organization_name %>
							<br />
							<%end%>
					</li>
					<li>
						<%= link_to "View Issue", issue_path(i.id) %>
					</li>
					<li>
						<% if current_user %>
      					<%=link_to "Delete", issue_path(:id => i.id), method:'delete',:confirm =>" ARE YOU SURE YOU WANT TO DELETE THIS ISSUE????"%>
				      <% end %>	
					</li>
					<li>
						<% if current_user %>
						<%=link_to "Edit", edit_issue_path(:id => i.id), method:'edit' %>
						<% end %>
					</li>
				</ul>	
		<% end %>


		


<ul>