<h1> Issues </h1>

<ul>

		<% @issues.each do |i| %>
			<li>
				Title:<%= i.title %>
			</li>	
				<ul>		
					<li>
						Description: <%= i.desc %>
					</li>	
					<li>
						Funding Goal:<%= i.funding_goal %>
					</li>	
					<li>
						Pleged Total: <%= i.pledged_total %>
					</li>	
					<li>
						Number of Backers: <%= i.num_backers %>
					</li>	
					<li>
						Funding Date: <%= i.funding_date %>
					</li>
				</ul>	
		<% end %>

<ul>