<h1> New Issue </h1>

<%= form_for @issue do |issue|%>
	<ul>
		<li>	
			Title:<%= issue.text_field :title %>
		</li>	
		<li>
			Description:<%= issue.text_area :desc %>
		</li>	
		<li>	
			Funding Goal:<%= issue.text_field :funding_goal, type: "number" %>
		</li>	
		<li>
			<%= issue.text_field :organization_id %>
		</li>
		<li>	
			Date to be funded by:<%= issue.text_field :funding_date, type: "datetime" %>
		</li>	
		<li>	
			<%= issue.submit %>
		</li>
	</ul>
	<%= link_to "Issues", issues_path%>
<% end %>