<h1>Users Index</h1>

<% @users.each do |user| %>
<div>
	<%= user.first_name + " " + user.last_name %><br />
	<%= user.email %><br />
	<%= user.address %></br />
	<%= user.city %><br />
	<%= user.state %><br />
	<%= user.zipcode %>
	<%= button_to "View User", user_url(user.id), controller: :users, action: :show, method: :get %></div><br />
<% end %>