<h1>Create New User</h1>

<h4>Please fill in every item below:</h4>

<%= form_for @user do |user| %>

	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= user.label :first_name, "First Name" %>
	<%= user.text_field :first_name %><br />

	<%= user.label :last_name, "Last Name" %>
	<%= user.text_field :last_name %><br />

	<%= user.label :email, "E-mail" %>
	<%= user.text_field :email %><br />

	<%= user.label :address, "Address" %>
	<%= user.text_field :address %><br />

	<%= user.label :city, "City" %>
	<%= user.text_field :city %><br />

	<%= user.label :state, "State" %>
	<%= user.text_field :state %><br />

	<%= user.label :zipcode, "Zipcode" %>
	<%= user.text_field :zipcode %><br />

	<%= user.label :password, "Password" %>
	<%= user.password_field :password %><br />

	<%= user.label :password_confirmation, "Confirm Password" %>
	<%= user.password_field :password_confirmation %>

	<%= user.submit "Let's Go!"%>
	<% end %>