<h1>Create New User</h1>

<h4>Please fill in every item below:</h4>

<%= form_for @user do |u| %></br>

	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= u.label :first_name, "First Name" %>
	<%= u.text_field :first_name %><br />

	<%= u.label :last_name, "Last Name" %>
	<%= u.text_field :last_name %><br />

	<%= u.label :email, "E-mail" %>
	<%= u.text_field :email %><br />

	<%= u.label :address, "Address" %>
	<%= u.text_field :address %><br />

	<%= u.label :city, "City" %>
	<%= u.text_field :city %><br />

	<%= u.label :state, "State" %>
	<%= u.text_field :state %><br />

	<%= u.label :zipcode, "Zipcode" %>
	<%= u.text_field :zipcode %><br />

	<%= u.submit "Let's Go!"%>
	<% end %>